* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 1px 1px 10px black;
}

body {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 10px 0;
}

ul {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 1px 1px 20px -5px darkcyan;
  padding: 5px;
}

/* Start of Button stuff */
button {
  padding: 2px 4px;
}

ul button {
  margin-right: 5px;
}

.not-list-button {
  margin-top: 10px;
}
/* End of Button stuff */

@media only screen and (min-width: 400px) {
  ul {
    width: 80%;
  }
}
